header {

  position: fixed;

  z-index: 3;

  padding: 1em;

  width: 100%;

  max-height: 96px;

  background-color: rgba(0, 0, 0, 0.1);

  top: 0;

}



header .logo {

    margin: 0;

}



header .menu-btn {

  width: 18px;

  float: right;

  cursor: pointer;

  margin: 0;

  margin-top: 1.5em;

  margin-right: 2.75em;

}





nav {

  top: 0;

  position: fixed;

  z-index: 4;

  background: black;

  opacity: 92%;

  padding: 2em;

  width: calc(100% - 4em);

  height: calc(100vh - 4em);

  display: -ms-grid;

  display: grid;

  -webkit-transform: scaleX(0);

          transform: scaleX(0);

  -webkit-transform-origin: right;

          transform-origin: right;

}



nav .insta-logo {

  position: absolute;

  z-index: 999;

  margin-top: 0;

  text-align: center;

  float: center;

  left: calc(50vw - 16px);

  top: calc(100vh - 12em);

  opacity: 0;

}



nav .fb-logo {

  position: absolute;

  z-index: 999;

  margin-top: 0;

  text-align: center;

  float: center;

  left: calc(50vw - 64px);

  top: calc(100vh - 12em);

  opacity: 0;

}



nav .twitter-logo {

  position: absolute;

  z-index: 999;

  margin-top: 0;

  text-align: center;

  float: center;

  left: calc(50vw + 32px);

  top: calc(100vh - 12em);

  opacity: 0;

}





nav .close-btn {

  width: 24px;

  float: right;

  cursor: pointer;

  opacity: 0;

}



nav ul {

  list-style-type: none;

  margin: 10% auto 0 auto;

  padding: 0;

  display: -ms-grid;

  display: grid;

  -ms-grid-columns: (20%)[5];

      grid-template-columns: repeat(5, 20%);

  -ms-grid-rows: ()[2];

      grid-template-rows: repeat(2);

  grid-row-gap: 100%;

  width: 80%;

}



nav ul a {

  color: white;

  font-weight: bold;

  font-size: 1.4em;

}



nav ul span {

  color: grey;

  display: block;

  font-size: .75em;

  margin-top: 5px;

}



nav ul li {

  opacity: 0;

}



@media (max-device-width: 991px) {

  nav ul {

    margin: 9vh auto;

    text-align: center;

    -ms-grid-columns: (1fr)[2];

        grid-template-columns: repeat(2, 1fr);

    -ms-grid-rows: ()[fit-content];

        grid-template-rows: repeat(-webkit-fit-content);

        grid-template-rows: repeat(fit-content);

    grid-row-gap: 5vh;

    width: 90%;

  }

  nav .insta-logo {

  top: calc(100vh - 10em);

}



nav .fb-logo {

  top: calc(100vh - 10em);

}



nav .twitter-logo {

  top: calc(100vh - 10em);

}

}



@media (max-device-width: 375px) {



     nav .insta-logo {

        top: 2em;

    }



    nav .fb-logo {

      top: 2em;

    }



    nav .twitter-logo {

      top: 2em;

    }

}



.show-menu {

  display: block;

  -webkit-animation: slide-menu 1s ease-in forwards;

          animation: slide-menu 1s ease-in forwards;

}



.show-menu .close-btn {

  -webkit-animation: show-x 1s 1s forwards;

          animation: show-x 1s 1s forwards;

}



.show-menu li:nth-of-type(1) {

  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

          animation: menu-item-anim .8s forwards 1s ease-in-out;

}



.show-menu li:nth-of-type(2) {

  -webkit-animation: menu-item-anim .8s forwards 1.2s ease-in-out;

          animation: menu-item-anim .8s forwards 1.2s ease-in-out;

}



.show-menu li:nth-of-type(3) {

  -webkit-animation: menu-item-anim .8s forwards 1.4s ease-in-out;

          animation: menu-item-anim .8s forwards 1.4s ease-in-out;

}



.show-menu li:nth-of-type(4) {

  -webkit-animation: menu-item-anim .8s forwards 1.6s ease-in-out;

          animation: menu-item-anim .8s forwards 1.6s ease-in-out;

}



.show-menu li:nth-of-type(5) {

  -webkit-animation: menu-item-anim .8s forwards 1.8s ease-in-out;

          animation: menu-item-anim .8s forwards 1.8s ease-in-out;

}



.show-menu li:nth-of-type(6) {

  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

          animation: menu-item-anim .8s forwards 1s ease-in-out;

}



.show-menu li:nth-of-type(7) {

  -webkit-animation: menu-item-anim .8s forwards 1.2s ease-in-out;

          animation: menu-item-anim .8s forwards 1.2s ease-in-out;

}



.show-menu li:nth-of-type(8) {

  -webkit-animation: menu-item-anim .8s forwards 1.4s ease-in-out;

          animation: menu-item-anim .8s forwards 1.4s ease-in-out;

}



.show-menu li:nth-of-type(9) {

  -webkit-animation: menu-item-anim .8s forwards 1.6s ease-in-out;

          animation: menu-item-anim .8s forwards 1.6s ease-in-out;

}



.show-menu li:nth-of-type(10) {

  -webkit-animation: menu-item-anim .8s forwards 1.8s ease-in-out;

          animation: menu-item-anim .8s forwards 1.8s ease-in-out;

}



.show-menu .insta-logo {

  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

          animation: menu-item-anim .8s forwards 1s ease-in-out;

}



.show-menu .fb-logo {

  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

          animation: menu-item-anim .8s forwards 1s ease-in-out;

}



.show-menu .twitter-logo {

  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

          animation: menu-item-anim .8s forwards 1s ease-in-out;

}



@media (max-device-width: 991px) {

  .show-menu li:nth-of-type(1) {

    -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

            animation: menu-item-anim .8s forwards 1s ease-in-out;

  }

  .show-menu li:nth-of-type(2) {

    -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;

            animation: menu-item-anim .8s forwards 1s ease-in-out;

  }

  .show-menu li:nth-of-type(3) {

    -webkit-animation: menu-item-anim .8s forwards 1.2s ease-in-out;

            animation: menu-item-anim .8s forwards 1.2s ease-in-out;

  }

  .show-menu li:nth-of-type(4) {

    -webkit-animation: menu-item-anim .8s forwards 1.2s ease-in-out;

            animation: menu-item-anim .8s forwards 1.2s ease-in-out;

  }

  .show-menu li:nth-of-type(5) {

    -webkit-animation: menu-item-anim .8s forwards 1.4s ease-in-out;

            animation: menu-item-anim .8s forwards 1.4s ease-in-out;

  }

  .show-menu li:nth-of-type(6) {

    -webkit-animation: menu-item-anim .8s forwards 1.4s ease-in-out;

            animation: menu-item-anim .8s forwards 1.4s ease-in-out;

  }

  .show-menu li:nth-of-type(7) {

    -webkit-animation: menu-item-anim .8s forwards 1.6s ease-in-out;

            animation: menu-item-anim .8s forwards 1.6s ease-in-out;

  }

  .show-menu li:nth-of-type(8) {

    -webkit-animation: menu-item-anim .8s forwards 1.6s ease-in-out;

            animation: menu-item-anim .8s forwards 1.6s ease-in-out;

  }

  .show-menu li:nth-of-type(9) {

    -webkit-animation: menu-item-anim .8s forwards 1.8s ease-in-out;

            animation: menu-item-anim .8s forwards 1.8s ease-in-out;

  }

  .show-menu li:nth-of-type(10) {

    -webkit-animation: menu-item-anim .8s forwards 1.8s ease-in-out;

            animation: menu-item-anim .8s forwards 1.8s ease-in-out;

  }

}



@-webkit-keyframes slide-menu {

  from {

    -webkit-transform: scaleX(0);

            transform: scaleX(0);

  }

  to {

    -webkit-transform: scaleX(1);

            transform: scaleX(1);

  }

}



@keyframes slide-menu {

  from {

    -webkit-transform: scaleX(0);

            transform: scaleX(0);

  }

  to {

    -webkit-transform: scaleX(1);

            transform: scaleX(1);

  }

}



@-webkit-keyframes show-x {

  from {

    opacity: 0;

  }

  to {

    opacity: 1;

  }

}



@keyframes show-x {

  from {

    opacity: 0;

  }

  to {

    opacity: 1;

  }

}



@-webkit-keyframes menu-item-anim {

  from {

    -webkit-transform: tanslateY(30%);

            transform: tanslateY(30%);

    opacity: 0;

  }

  to {

    -webkit-transform: tanslateY(0);

            transform: tanslateY(0);

    opacity: 1;

  }

}



@keyframes menu-item-anim {

  from {

    -webkit-transform: tanslateY(30%);

            transform: tanslateY(30%);

    opacity: 0;

  }

  to {

    -webkit-transform: tanslateY(0);

            transform: tanslateY(0);

    opacity: 1;

  }

}

/*# sourceMappingURL=nav-bar.css.map */